.card-wrapper {
  max-width: 860px;
  margin: 30px auto;
  display: flex;
  flex-flow: row wrap;
}

.card {
  margin: 10px;
  flex: 0 0 150px;
  height: 150px;
  box-sizing: border-box;
  border: 0;
  padding: 20px;
  background-color: transparent;
}

.card-hidden {
  border: 2px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.image {
  width: 100px;
  height: auto;
}

.hidden {
  display: none;
}

.scores {
  display: flex;
  flex-flow: row nowrap;
  margin: 20px auto 40px;
  max-width: 860px;
}

.box {
  flex: 1;
  margin: 10px;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.restart-btn {
  border: 2px solid grey;
  color: #000;
  background-color: #fff;
}
